* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: hsl(0, 0%, 8%);
  --card-color: hsl(0, 0%, 12%);
  --button-color: hsl(0, 0%, 20%);
  --text-color: hsl(0, 0%, 100%);
  --highlight-color: hsl(75, 94%, 57%);

  --font-family: 'Inter', sans-serif;
  
  --spacing-500: 2.5rem; /* 40px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-200: 1rem; /* 16px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-50: 0.25rem; /* 4px */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
  margin-bottom: var(--spacing-50);
}

p {
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 400;
}

.p-bold-green {
  font-weight: 600;
  color: var(--highlight-color);
}

nav {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  list-style: none;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;  
  font-size: 0.875rem;
  font-weight: 600;
  background-color: var(--button-color);
  padding: var(--spacing-150);
  border-radius: var(--spacing-100);
  display: block;
  width: 100%
}

nav ul li a:hover {
  color: var(--button-color);
  background-color: var(--highlight-color);
  transition: color 0.3s ease-in-out;
}

.profile-card {
  max-width: 24rem; /* 384px */
  background-color: var(--card-color);
  text-align: center;
  padding: clamp(var(--spacing-300), var(--spacing-300), var(--spacing-500));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
  border-radius: var(--spacing-150);
  margin: auto var(--spacing-300);
}

.profile-image {
  border-radius: 100%;
  max-width: 5.5rem; /* 88px */
}

/*Attributes*/
.attribution { font-size: 11px; text-align: center; margin-top: var(--spacing-300); }
.attribution a { color: hsl(228, 45%, 44%); }